---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=items(id,snippet(title,resourceId(videoId)))&key=<KEY>&maxResults=50&pageToken=EAAaATA&part=snippet&playlistId=UUluQ5yInbeAkkeCndNnUhpw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "items": [
            {
              "id": "VVVsdVE1eUluYmVBa2tlQ25kTm5VaHB3LjBsRF82UlZLRFM4",
              "snippet": {
                "title": "A Super Quick History of Russia",
                "resourceId": {
                  "videoId": "0lD_6RVKDS8"
                }
              }
            },
            {
              "id": "VVVsdVE1eUluYmVBa2tlQ25kTm5VaHB3LkVTMTJUM2NFMHhV",
              "snippet": {
                "title": "A Super Quick History of Romania",
                "resourceId": {
                  "videoId": "ES12T3cE0xU"
                }
              }
            },
            {
              "id": "VVVsdVE1eUluYmVBa2tlQ25kTm5VaHB3LmVvcUJqUUt1YnJR",
              "snippet": {
                "title": [...]
